#content .top-banner {
	background: url("../img/landing-top-banner-image.png") no-repeat center center;
	height: 300px;
	margin-top: -46px;
}

div.row p {
	font-size:16px;font-weight:200;line-height:23px;
}

div.row li {
	font-size:16px;font-weight:200;line-height:23px;	
}

div.document h1 {
	margin-bottom: 12px;
}

div.document h4 {
	margin-bottom: 6px;
}

div.document p {
	font-size:16px;font-weight:200;line-height:23px;		
}

#side p {
	font-size: 14px;
	font-weight:200;
	line-height:19px;
}

#side li {
	font-size: 14px;
}


.post {
	padding-bottom: 15px;
}

.post .meta {
	margin-bottom: 15px;
	font-weight: 600;
}

.post h1 {
	font-size: 22px;
	padding-bottom: 5px;
}

.row.post p {
	font-size: 15px;
	font-weight:200;
	line-height:21px;
}