<div id="side" class="span3">
	<h3>About 10xEngineer</h3>
	<p>Aliquam erat volutpat. Aliquam vehicula vulputate justo non mollis. Nulla facilisi. Praesent ullamcorper feugiat vestibulum. Curabitur bibendum nisl id risus porttitor id ullamcorper orci tincidunt.</p>

	<div class="center social-networks">
			<a href="https://www.facebook.com/10xEngineer" title="Follow us on Facebook" class="icon-facebook"></a>
			<a href="https://twitter.com/10xEngineer" title="Follow us on Twitter" class="icon-twitter"></a>
	</div>


	<h3>Try Labs today</h3>
	<p>Launch your first Lab Machine today. Find out more in our <a href="http://help.10xengineer.me/entries/22369652-getting-started-with-labs">Getting started</a> guide.</p>
</div>	
