<footer class="row">
	<div class="container">
		<div class="row">
			<div class="span4">
				<img src="/img/420x420.png" alt="10xEngineer.me" width="180">
			</div>
			<div class="span2">
				<h3>Quick links</h3>
				<ul>
					<li><a href="/" title="">Home</a></li>
					<li><a href="http://help.10xengineer.me" title="">Support</a></li>
					<li><a href="/legal/privacy.html" title="">Privacy Policy</a></li>
					<li><a href="#" title="">Terms</a></li>
					<li><a href="https://trello.com/board/10xengineer-labs-roadmap/5097a804d827a91614014c6e">Labs Roadmap</a></li>
				</ul>
			</div>
			<div class="span2">
				<br /><br />
				<ul>
				</ul>
			</div>
			<div class="span4 social-networks">
				<h3>Stay in touch</h3>
				<p>Stay in touch on social networks</p>
				<a href="https://www.facebook.com/10xEngineer" title="Follow us on Facebook" class="icon-facebook"></a>
				<a href="https://twitter.com/10xEngineerMe" title="Follow us on Twitter" class="icon-twitter"></a>
				<!--<a href="#" title="Follow us on Google Plus" class="icon-google-plus"></a>
				<a href="#" title="Follow us on Github" class="icon-github"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-pinterest"></a>-->
			</div>
		</div> <!-- /row -->		
	</div> <!-- /container -->

	<div id="footer-extra">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2012 10xEngineer Ltd.
				</div>
				<div class="span4">
					&nbsp;
					<!--<i class="icon-phone"></i> &nbsp; 
					00123 320 000 123 456-->
				</div>
				<div class="span4">
					<i class="icon-envelope"></i> &nbsp; 
					<a href="mailto:hello@10xEngineer.me">hello@10xEngineer.me</a>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->		
	</div>
</footer>
