<header id="header">

	<!-- Navigation
	================================================== -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/index.html">
					<img src="/img/10xengineer-small.png" alt="10xEngineer.me">
				</a>
				<div class="nav-collapse fr">
					<ul class="nav">
						{% assign pages_list = site.navigation %}
						{% include pages_list %}

						<li><button class="btn btn-primary" onclick="window.location.href='http://manage.10xlabs.net'">Sign In</button></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!-- end .container -->
		</div><!-- end .navbar-inner -->
	</div><!-- end .navbar -->
</header>
